django-cors-headers==3.13.0
channels
django==4.0.4
djangorestframework==3.14.0
django-celery-results==2.4.0
channels-redis==3.4.1
celery==5.2.7
sgmllib3k
bs4
httpx[http2]==0.23.3
transliterate
requests_html
alphabet_detector
redis