/* .loader {

	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
} */
 
 
 .spinner {
   height: 120px;
   width: 120px;
   margin:0 auto;
   position:relative;
   position: absolute;
   top:50%;
   left:45%;
   -webkit-animation: rotation 1s infinite linear;
   -moz-animation: rotation 1s infinite linear;
   -o-animation: rotation 1s infinite linear;
   animation: rotation 1s infinite linear;
   border:16px solid rgba(0,0,0,.2);
   border-radius:100%;
 }
 
 .spinner:before {
    content:"";
    display:block;
    position:absolute;
    left:-16px;
    top:-16px;
    height:100%;
    width:100%;
    border-top:16px solid #8859f8;
    border-left:16px solid transparent;
    border-bottom:16px solid transparent;
    border-right:16px solid transparent;
    border-radius:100%;
 }
 
 @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
 }
 @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
 }
 @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
 }
 @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
   }